<!doctype html>
<title>irc export</title>
<link href="/~~/lib/typeface-roboto/index.css" rel="stylesheet">
<link href="/~~/lib/material-icons/material-icons.css" rel="stylesheet">
<link href="/~~/lib/@dustjs-client-vue/dustjs-client-vue.css" type="text/css" rel="stylesheet">
<link href="export.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="x-stardust-appid" content="irc">

<script type="text/x-template" id="export-tool">
  <form class="export-tool dialog" @submit.prevent="submit">
    <div class="source-box">
      <label id="net-label" for="net-select">Network:</label>
      <select id="net-select" name="network" v-model="network" required>
        <option disabled value="">Select one</option>

        <sky-foreach
            el="optgroup"
            label="networks"
            path="persist/irc/networks"
            fields="status current-nick umodes"
            :depth="1">
          <template slot="item" slot-scope="net">
            <option :value="net._id">{{net._id}}</option>
          </template>
        </sky-foreach>
      </select>

      <label id="ctx-label" for="ctx-select">Context:</label>
      <select id="ctx-select" name="context" v-model="context" required :disabled="!network">
        <option disabled value="">Select one</option>
        <option value="server-log">Server log</option>

        <sky-foreach
            v-if="network"
            el="optgroup"
            label="channels"
            :path="'persist/irc/networks/'+network+'/channels'"
            fields="latest-activity latest-mention latest-seen is-joined"
            :depth="1">
          <template slot="item" slot-scope="ctx">
            <option :value="'channels/'+ctx._id+'/log'">{{ctx._id}}</option>
          </template>
        </sky-foreach>

        <sky-foreach
            v-if="network"
            el="optgroup"
            label="queries"
            :path="'persist/irc/networks/'+network+'/queries'"
            fields="latest-activity latest-mention latest-seen"
            :depth="1">
          <template slot="item" slot-scope="ctx">
            <option :value="'queries/'+ctx._id+'/log'">{{ctx._id}}</option>
          </template>
        </sky-foreach>
      </select>
    </div>


    <select multiple id="dates-select" name="dates" v-model="dates" required v-if="context">
      <sky-foreach
          el="optgroup"
          label="date range"
          :path="'persist/irc/networks/'+network+'/'+context"
          fields="latest horizon"
          :depth="0">
        <template slot="item" slot-scope="date">
          <option :value="date._id"
              v-if="date._id !== 'latest' && date._id !== 'horizon'"
            >{{date._id}}</option>
        </template>
      </sky-foreach>
    </select>


    <div class="button-bar">
      <button type="button" @click="preview">
        <i class="material-icons">search</i>
      </button>
      <button type="submit">
        <i class="material-icons">file_download</i>
      </button>
    </div>
  </form>
</script>

<div id="app">
  <!-- render top bar w/ connection state and current user -->
  <sky-session></sky-session>

  <export-tool></export-tool>
</div>

<!-- external vendor libraries -->
<script src="/~~/lib/vue/vue.min.js"></script>

<!-- kernel library + components -->
<script src="/~~/lib/@dustjs-client/dustjs-client.umd.js"></script>
<script src="/~~/lib/@dustjs-client-vue/dustjs-client-vue.umd.js"></script>
<script src="/~~/lib/moment/moment.min.js"></script>

<!-- app scripts and components -->
<script src="export.js"></script>
<script src="../colorize.js"></script>

<script defer src="/__/firebase/7.14.2/firebase-app.js"></script>
<script defer src="/__/firebase/7.14.2/firebase-auth.js"></script>
<script defer src="/__/firebase/init.js"></script>
