html, body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #232323;
  color: #fcfbe7;
}
h1, h2 {
  margin: 0;
}

.main-context {
  flex: 1;
  display: flex;
}
.scrollback {
  flex: 1;
  overflow-y: scroll;

  list-style: none;
  padding: 0;
  margin: 0;
  word-break: break-word;
}
.new-unread-below {
  background-color: #444;
  padding: 0.2em 1em;
  cursor: pointer;
}

.member-list {
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.3);
}
.member-list ul {
  list-style: none;
  padding: 0;
  margin: 1em;
  color: #aaa;
}

.send-message {
  display: flex;
  padding: 0.5em;
}
.send-message input {
  flex: 1;
}

#app {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex: 1;
}

#left-menu {
  display: flex;
  flex-direction: column;
  flex-basis: 12em;

  background-color: #034e6e;
  color: rgba(255, 255, 255, 0.6);
}
#navbar {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


#navbar h2 {
  margin: 0.8em 0.6em 0.3em;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 300;
}
.topics-header {
  margin: 0.8em 1em 0.3em;
  font-size: 0.8em;
  font-weight: 300;
  text-transform: uppercase;
}

.topics-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topics-list a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 0.3em 0.8em 0.3em 0.5em;
  border-left: 5px solid transparent; /* kinda lines up */
}
.topics-list a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.topics-list .topic-prefix {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 0.2em;
}

.new-topic {
  margin-top: 0.2em;
}

.unseen-activity, .unseen-mention {
  color: #fff;
}
.unseen-activity a {
  border-left-color: blue;
}
.unseen-mention a {
  border-left-color: red;
}


#contents {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#topic-header {
  padding: 0.5em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#topic-header h3 {
  margin: 0;
}


.status-activity {
  padding: 0.2em 1em;
  color: #ccc;
}
.rich-activity {
  padding: 0 1em 0.2em;
}

.activity-entry {
  padding-left: 4em;
}
.activity-entry:hover {
  background-color: #444;
}

.activity-entry .author {
  position: relative;
  padding-top: 0.2em;
}
.activity-entry .author-name {
  font-weight: 600;
  font-size: 0.9em;
}
/*
.activity-entry .author::before { color: #999; content: '<'; }
.activity-entry .author::after { color: #999; content: '>'; }
*/

.activity-entry .author-avatar {
  position: absolute;
  left: -2.5em;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: #fff;
  color: #222;
  border-radius: 50%;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);

}

.activity-entry .time {
  float: right;
  font-size: 0.7em;
  margin-left: 0.5em;
  color: #999;
}

.activity-entry .message,
.activity-entry .status {
  white-space: pre-wrap;
  margin: 0.3em 0 0.7em;
  font-weight: 300;
}



#message-box {
  display: flex;
  padding: 0.5em 1em 1em;
}

#message-box [type=text] {
  padding: 0.5em 0.3em;
}
#message-box [name=author] {
  flex-basis: 10em;
}
#message-box [name=body] {
  flex: 1;
}


#th-left {
  display: flex;
  align-items: center;
}
#th-bottom {
  flex: 1;
  white-space: pre;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 0;
  color: #999;
  margin-left: 1em;
}

@media (max-width: 599px) {
  a.menu i {
    color: #fff;
    font-size: 1.5em;
    margin-right: 0.5em;
  }

  #app {
    position: relative;
    overflow: hidden;
  }

  aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 250px;
    left: -250px;
    z-index: 5;
    transform: translateZ(0);
  }
  nav {
    touch-action: pan-y;
    /* some overflow for animating */
    padding-left: 250px;
    margin-left: -250px;
  }
  aside.animate {
    transition: left 0.2s;
  }
  aside.open {
    left: 0;
  }

  aside::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 250px;
    width: 25px;

    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s;
  }
  aside.open::after {
    width: auto;
    right: -1000px;
    background-color: rgba(0,0,0,0.4);
  }
  aside.moving::after {
    width: auto;
    right: -1000px;
    background-color: rgba(0,0,0,0.25);
  }
  aside.animate::after {
    width: auto;
    right: -1000px;
  }
}

@media (min-width: 600px) {
  a.menu { display: none; }

  nav, .chart-box {
    overflow: auto;
  }
}