<!doctype html>
<title>reactive irc</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Material+Icons" rel="stylesheet">
<link href="/~system/lib/vue-app.css" type="text/css" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="x-stardust-appid" content="irc">

<script type="text/x-template" id="context-listing">
  <li :key="ctx._id" :class="ctxClass">
    <router-link
        :to="routeDef"
        @click.native="closeNav"
        class="topic-item">
      <span class="topic-prefix" v-if="name.prefix">{{name.prefix}}</span>
      {{name.main}}
    </router-link>
  </li>
</script>

<script type="text/x-template" id="view-context">
  <sky-with id="contents" :path="path"><template scope="fields">
    <header id="topic-header">

      <div id="th-left">
        <a href="#menu" class="menu" @click.prevent="openMenu">
          <i class="material-icons">menu</i>
        </a>

        <h3>{{ network }} / {{ context }}</h3>
        <div id="th-bottom">
          <!-- star button -->
          <!-- member count -->
          <sky-with el="span" class="topic" :path="path+'/topic'">
            <template scope="topic">{{ topic.latest }}</template>
          </sky-with>
        </div>
      </div>

      <div id="th-right">
        <!-- menu -->
      </div>
    </header>

    <div class="main-context">
      <div class="scrollback">
        <sky-infinite-timeline-log
            el="ul"
            class="log-lines"
            :path="logPath"
            partitions=":date/:seq">
          <template slot="entry" scope="entry">
            <component :is="componentFor(entry)" :msg="entry" />
          </template>
          <template slot="partition-header" scope="props">
            <li class="partition-header">{{props.partId}}</li>
          </template>
          <template slot="no-entries">
            <li class="log-empty">no messages</li>
          </template>
        </sky-infinite-timeline-log>
      </div>


      <!--div class="scrollback" ref="log">
            partitioned="yes"
            v-for="part in logParts"
            :key="part.id"
            :partId="part.id"
            :path="logPath + '/' + part.id"
            :isLive="part.id == currentDay"
            @newMessage="tickleAutoScroll"
            @reachedHorizon="loadPreviousPart"
          />
      </div-->

      <aside class="member-list">
        <sky-foreach
          el="ul"
          :path="path+'/membership'"
          fields="modes nick host user since"
          :depth="1">
        <template slot="item" scope="n">
          <li :key="n.id">{{n.nick}}</li>
        </template>
        </sky-foreach>
      </aside>
    </div>

    <!--<div class="new-unread-below"
        v-if="newMessageCount > 0"
        @click="scrollDown">
      {{newMessageCount}} new messages below 👇
    </div-->

    <send-message
        :channelName="context"
        :networkName="network"
        :chanPath="path"
        members="memberList"
        @message="sendMessage"
        @command="execCommand"
      />
  </template></sky-with>
</script>

<script type="text/x-template" id="send-message">
  <form @submit.prevent="submit" id="message-box">
    <input type="text" name="body" autocomplete="off" v-model="message" required
        :disabled="this.locked"
        @keydown="onKeyDown"
         :placeholder="'Message ' + channelName" />
    <button type="submit">
      <i class="material-icons">send</i>
    </button>
  </form>
</script>

<script type="text/x-template" id="rich-activity">
  <li class="rich-activity activity-entry">
    <div class="author">
      <div class="author-avatar"
          :style="'background-color:' + authorColor"
        >{{ author[0] }}</div>
      <span class="author-name"
          :style="'color:' + authorColor"
        >{{ author }}</span>
    </div>
    <span class="time">{{ timestamp }}</span>
    <span :class="'message '+enriched.classes.join(' ')">
      <span
          v-for="s in enriched.segments"
          :key="s.idx"
          :style="s.css"
        ><a v-if="s.type==='link'" :href="s.text" :style="s.css" target="_blank">{{s.text}}</a
        ><code v-if="s.type==='code'" :style="s.css">{{s.text}}</code
        ><template v-if="!s.type">{{s.text}}</template
      ></span>
    </span>
  </li>
</script>

<script type="text/x-template" id="status-activity">
  <li class="status-activity activity-entry">
    <span class="time">{{ timestamp }}</span>
    <span class="status">{{ text }}</span>
  </li>
</script>

<div id="app">
  <!-- render top bar w/ connection state and current user -->
  <sky-session></sky-session>

  <sky-side-menu :fixed-width="250">

    <sky-foreach
      el="div"
      path="persist/irc/networks"
      fields="current-nick umodes"
      :depth="1">
    <template slot="item" scope="net">

      <h2>{{net._id}}</h2>
      <h3 class="topics-header">Channels</h3>
      <sky-foreach
          el="ul"
          class="topics-list"
          :path="net._path+'/channels'"
          fields="latest-activity latest-mention latest-seen is-joined"
          :depth="1">
        <template slot="item" scope="ctx">
          <context-listing type="channels"
                           :net="net"
                           :ctx="ctx"
                           ></context-listing>
        </template>
      </sky-foreach>


      <h3 class="topics-header">Queries</h3>
      <sky-foreach
          el="ul"
          class="topics-list"
          :path="net._path+'/queries'"
          fields="latest-activity latest-mention latest-seen is-joined"
          :depth="1">
        <template slot="item" scope="ctx">
          <context-listing type="queries"
                           :net="net"
                           :ctx="ctx"
                           ></context-listing>
        </template>
      </sky-foreach>

      <ul class="topics-list">
        <context-listing type="server"
                         :net="net"
                         :ctx="{_id: 'server-log'}"
                         ></context-listing>
      </ul>
    </template>
    </sky-foreach>

  </sky-side-menu>

  <router-view></router-view>

  <!--sky-form
      action="store-child-folder"
      path="persist/irc/entries">
    <input
        type="hidden"
        name="status"
        value="todo"
      />
    <sky-datetime-field
        name="added-at"
        type="current-timestamp"
      ></sky-datetime-field>

    <input
        type="text"
        name="body"
        placeholder="What's next?"
        autofocus
        required
      />
    <button type="submit">
      Add the thing
    </button>
  </sky-form>
-->
</div>

<!-- external vendor libraries -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="/~system/lib/vendor/hammer.js"></script>

<!-- kernel library + components -->
<script src="/~system/lib/skylink.js"></script>
<script src="/~system/lib/datastore.js"></script>

<!-- app scripts and components -->
<script src="reactive.js"></script>
<script src="colorize.js"></script>

<!-- boot the app -->
<script src="/~system/lib/vue-toolbox.js"></script>
<script src="/~system/lib/vue-app.js"></script>

<style type="text/css">
  .scrollback {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }
  .log-lines {
    overflow-y: scroll;
  }
</style>