body {
  font-family: 'Roboto';
  background-color: #111;
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png');
  color: #fff;
  margin: 1em;
}

.card {
  color: #000;
  max-width: 30em;
  align-self: center;
  background-color: #ccc;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 1px 2px 4px 2px rgba(150, 150, 150, 0.3);
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 2.75em;
  line-height: 50px;
  font-weight: normal;
}

h3 {
  margin: 3em auto 0;
  text-align: center;
  max-width: 27.4em;
  color: #ccc;
  padding: 0.5em 0 0.2em;
  background: linear-gradient(0deg, rgba(76,98,153, 0.25), rgba(76,98,153, 0));
  border-bottom: 3px solid #4c6299;
  font-weight: normal;
  letter-spacing: 0.2em;
}
h3:before, h3:after {
  content: '~~';
  margin: 0 1em 0 0.5em;
  color: rgba(76,98,153, 0.5);
  letter-spacing: -0.2em;
}
h3:hover {
  background: linear-gradient(0deg, rgba(76,98,153, 0.4), rgba(76,98,153, 0));
}


p, ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
}

p {
  margin-top: 25px;
  padding: 0 1em;
}

li {
  padding-right: 1em;
  padding-left: 0.5em;
  display: flex;
}
li .body {
  flex: 1;
}

li label {
  justify-self: center;
  padding: 0 0.5em;
  line-height: 0;
}
li input {
  width: 20px;
  height: 20px;
  margin: 2px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

form {
  padding: 0 1em;
  text-align: center;
  margin-bottom: 25px;
}

.completed-count {
  margin-top: 25px;
  padding-left: 2em;
}

.sub-action {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}
.sub-action .material-icons {
  line-height: 20px;
  color: #ccc;
}

li:hover .ice-it .material-icons {
  color: #99f;
}
li .ice-it:hover .material-icons {
  color: #44f;
}

li:hover .thaw-it .material-icons {
  color: #f99;
}
li .thaw-it:hover .material-icons {
  color: #f44;
}