body {
  font-family: 'Roboto';
  background-color: #111;
  background: url('texture.png');
  background-attachment: fixed;
  color: #fff;
  display: flex;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#app-inner {
  margin: 1em;
  padding-bottom: 10em;
}

.card {
  color: #000;
  max-width: 30em;
  align-self: center;
  background-color: #ccc;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 1px 2px 4px 2px rgba(150, 150, 150, 0.3);
}

.card .titlebar {
  margin: -1em -1em 0.5em;
  background-color: rgba(76,98,153, 0.7);
  background: linear-gradient(0deg, rgba(76,98,153, 0.8), rgba(76,98,153, 0.6));
  border-bottom: 3px solid #4c6299;
  display: flex;
}
.card:hover .titlebar {
  background: linear-gradient(0deg, rgba(76,98,153, 1), rgba(76,98,153, 0.8));
}
.card h4 {
  margin: 0;
  padding: 0.5em 1em 0.3em;
  font-weight: normal;
  color: #fff;
}
.card h4.weak {
  color: #ccc;
}
.card h4.weak strong {
  font-weight: normal;
  color: #fff;
}
.card:hover h4.weak strong {
 text-decoration: underline;
}

.card > label, .card > .label {
  display: flex;
  margin-top: 0.2em;
}
.card > label > span, .card > .label > span {
  flex: 1;
  align-self: center;
}
.card > label > input, .card > .label > input,
.card > label > select, .card > .label > select,
.card > label > .input, .card > .label > .input {
  flex-basis: 60%;
}
.card input, .card select {
  padding: 0.1em 0.4em;
  font-size: 1em;
}
.card input:not([type=checkbox]), .card select {
  box-sizing: border-box;
  width: 100%;
}
.card > button,
.button-row {
  padding: 0.1em 0.4em;
  margin: 0.2em auto 0;
  text-align: center;
  font-size: 1em;
  display: block;
}

#app-inner h2 {
  margin: 0;
  text-align: center;
  font-size: 2.75em;
  font-weight: normal;
}

/* cool divider effect under each h3 */
#app-inner h3 {
  margin: 3em auto 0;
  text-align: center;
  max-width: 27.4em;
  color: #ccc;
  padding: 0.5em 0 0.2em;
  background: linear-gradient(0deg, rgba(76,98,153, 0.25), rgba(76,98,153, 0));
  border-bottom: 3px solid #4c6299;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.2em;
}
#app-inner h3:before, #app-inner h3:after {
  content: '~~';
  margin: 0 1em 0 0.5em;
  color: rgba(76,98,153, 0.5);
  letter-spacing: -0.2em;
}
#app-inner h3:hover {
  background: linear-gradient(0deg, rgba(76,98,153, 0.4), rgba(76,98,153, 0));
}

#app-inner p {
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0.5em 1em 0;
}

.notifier {
  background-color: #fff;
}
.notifier img {
  display: block;
  margin: -0.5em auto -1em;
}

/*
li {
  padding-right: 1em;
  padding-left: 0.5em;
  display: flex;
}
li .body {
  flex: 1;
}

li label {
  justify-self: center;
  padding: 0 0.5em;
  line-height: 0;
}
li input {
  width: 20px;
  height: 20px;
  margin: 2px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

form {
  padding: 0 1em;
  text-align: center;
  margin-bottom: 25px;
}

.completed-count {
  margin-top: 25px;
  padding-left: 2em;
}

.sub-action {
  border: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}
.sub-action .material-icons {
  line-height: 20px;
  color: #ccc;
}

li:hover .ice-it .material-icons {
  color: #99f;
}
li .ice-it:hover .material-icons {
  color: #44f;
}

li:hover .thaw-it .material-icons {
  color: #f99;
}
li .thaw-it:hover .material-icons {
  color: #f44;
}
*/
