<!doctype html>
<title>Skychat IRC</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700" rel="stylesheet">
<link href="/~~/fonts/vendor/material-icons.css" rel="stylesheet">
<link href="/~~/lib/dustjs-client-vue.css" type="text/css" rel="stylesheet">
<link href="app.css" type="text/css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="x-stardust-appid" content="irc">

<script type="text/x-template" id="context-listing">
  <li :key="ctx._id" :class="ctxClass">
    <router-link
        :to="routeDef"
        @click.native="closeNav"
        class="topic-item">
      <i class="material-icons ctxlist-icon delete-btn"
         v-if="ctx['is-joined'] == 'no' || this.type == 'queries'"
         @click.stop="deleteContext"
         title="delete entry & history">delete</i>
      <span class="topic-prefix" v-if="name.prefix">{{name.prefix}}</span>
      {{name.main}}
    </router-link>
  </li>
</script>

<script type="text/x-template" id="view-context">
  <sky-with id="contents" :path="path"><template slot-scope="fields">
    <header id="topic-header">

      <div id="th-left">
        <sky-menu-toggle />

        <h3>{{ network }} / {{ context }}</h3>
        <div id="th-bottom">
          <!-- star button -->
          <!-- member count -->
          <sky-with el="span" class="topic" :path="path+'/topic'">
            <template slot-scope="topic">{{ topic.latest }}</template>
          </sky-with>
        </div>
      </div>

      <div id="th-right">
        <!-- menu -->
        <button class="context-action"
            v-if="fields['is-joined'] == 'no'"
            @click="joinChan"
            title="You are not in this channel. Click to rejoin and get updates."
          >Rejoin</button>

        <!-- nicklist toggle -->
        <i class="material-icons nicklist-btn clickable"
            title="toggle nicklist"
            @click.prevent="toggleNicklist"
          >list</i>
      </div>
    </header>

    <div class="main-context">
      <div class="scrollback scrollback">
        <sky-infinite-timeline-log
            el="ul"
            :class="['log-lines', layoutClass, logTypeClass]"
            :path="logPath"
            :latestSeenId="fields['latest-seen']"
            :enableNotifs="enableNotifs"
            @newLastSeen="setLatestSeen"
            partitions=":date/:seq">
          <div slot="header" class="padding" style="padding-top: 1000px;" />
          <component slot="entry" slot-scope="entry"
              :networkName="network"
              :is="componentFor(entry)" :msg="entry" />
          <li slot="partition-header" slot-scope="props" class="partition-header">
            {{props.partId}}
          </li>
          <li class="log-empty" slot="no-entries">
            no messages
          </li>
          <li class="log-empty" slot="marker" slot-scope="props">
            {{props.text || 'i broke lol'}}
          </li>
        </sky-infinite-timeline-log>

        <send-message
            v-if="context !== 'mention-log'"
            :channelName="context"
            :networkName="network"
            :chanPath="path"
            members="memberList"
            @message="sendMessage"
            @command="execCommand"
          />
      </div>

      <aside class="member-list list-bar" v-if="showNicklist">
        <h3 class="topics-header">Members</h3>
        <sky-foreach
            el="ul"
            class="topics-list"
            :path="path+'/members'"
            fields="modes prefix nick host user since"
            :depth="1">
          <li :key="n.id" slot="item" slot-scope="n">
            <router-link v-if="n.nick"
                :to="{name: 'context', params: {type: 'queries', network: network, context: n.nick}}"
                class="topic-item">
              <i class="material-icons ctxlist-icon delete-btn"
                 title="options...">more_vert</i>
              <span class="topic-prefix">{{n.prefix}}</span>
              {{n.nick}}
            </router-link>
          </li>
        </sky-foreach>
      </aside>
    </div>
  </template></sky-with>
</script>

<script type="text/x-template" id="empty-activity">
  <div class="empty-activity">
    <span class="filler" :style="{width: width+'px'}" />
  </div>
</script>

<script type="text/x-template" id="send-message">
  <div class="send-message">
    <form @submit.prevent="submit" id="message-box">
      <textarea name="body" v-model="message" required
          :readonly="this.locked"
          @keydown="onKeyDown"
          @keyup="onKeyUp"
          :rows="lineCt"
          :class="'will-pastebin-'+shouldPastebin"
          :placeholder="'Message ' + channelName" />
      <button type="submit">
        <i class="material-icons">send</i>
      </button>
    </form>

    <!-- Confirm if user wants to pastebin -->
    <div class="create-paste-opt" v-if="lineCt > 1">
      <label>
        <input type="checkbox" v-model="shouldPastebin" />
        Create new paste from message and share a link
      </label>
    </div>
  </div>
</script>

<script type="text/x-template" id="block-activity">
  <li class="rich-activity activity-entry block-activity">
    <span class="time">{{ timestamp }} </span>
    <span class="author author-placeholder">*</span>
    <span :class="'message '+enriched.classes.join(' ')">
      <header class="box-head">
        <span class="head-primary">{{msg.params[0]}}</span>
        <span class="head-second">{{msg.params[1]}}</span>
      </header
      ><span
          v-for="s in enriched.segments"
          :key="s.idx"
          :style="s.css"
        ><a v-if="s.type==='link'" class="content-link" :href="s.text" :style="s.css" target="_blank"
          ><span class="origin">{{s.origin}}</span><span class="path">{{s.path}}</span></a
        ><code v-if="s.type==='code'" :style="s.css">{{s.text}}</code
        ><template v-if="!s.type">{{s.text}}</template
      ></span>
    </span>
  </li>
</script>

<script type="text/x-template" id="rich-activity">
  <li :class="'rich-activity activity-entry'+elClass+' activity-cmd-'+msg.command">
    <span class="mention-tag" v-if="mention">
      in {{ mention.location }}
    </span>
    <div :class="{author: true, 'same-author': msg.mergeUp}">
      <div class="author-avatar"
          :style="'background-color:' + authorColor">
        {{ author[0] }}
      </div>
      <span class="author-name"
          :style="'color:' + authorColor">
         {{ author }}
      </span>
    </div>
    <span class="time">{{ timestamp }} </span>
    <span :class="'message '+enriched.classes.join(' ')">
      <span
          v-for="s in enriched.segments"
          :key="s.idx"
          :style="s.css"
        ><a v-if="s.type==='link'" class="content-link" :href="s.text" :style="s.css" target="_blank"
          ><span class="origin">{{s.origin}}</span><span class="path">{{s.path}}</span></a
        ><code v-if="s.type==='code'" :style="s.css">{{s.text}}</code
        ><template v-if="!s.type">{{s.text}}</template
      ></span>
    </span>
  </li>
</script>

<script type="text/x-template" id="action-activity">
  <li :class="'action-activity activity-entry'+elClass">
    <span class="time">{{ timestamp }} </span>
    <span class="author author-placeholder">*</span>
    <span :class="'message '+enriched.classes.join(' ')">
      <span class="author-avatar"
          :style="'background-color:' + authorColor"
        >{{ author[0] }}</span
      > &mdash; <span class="author-name"
          :style="'color:' + authorColor"
        >{{ author }}</span
      > <span
          v-for="s in enriched.segments"
          :key="s.idx"
          :style="s.css"
        ><a v-if="s.type==='link'" class="content-link" :href="s.text" :style="s.css" target="_blank"
          ><span class="origin">{{s.origin}}</span><span class="path">{{s.path}}</span></a
        ><code v-if="s.type==='code'" :style="s.css">{{s.text}}</code
        ><template v-if="!s.type">{{s.text}}</template
      ></span>
    </span>
  </li>
</script>

<script type="text/x-template" id="status-activity">
  <li class="status-activity activity-entry">
    <span class="time">{{ timestamp }} </span>
    <span class="author author-placeholder">*</span>
    <span class="status"
      >{{ text }}<button v-if="isActionable" @click="doAction" class="inline-action"
        >{{isActionable}}</button
    ></span>
  </li>
</script>

<script type="text/x-template" id="mention-activity">
  <rich-activity :msg="msg.raw" :mention="msg" />
</script>

<div id="app">
  <!-- render top bar w/ connection state and current user -->
  <sky-session></sky-session>
  <!-- sometimes-visible form to interact with Firebase Auth -->
  <sky-auth-form></sky-auth-form>

  <sky-side-menu :fixed-width="250" v-if="ready">

    <ul style="padding-top: 1em;">
      <li><a href="/panel/" class="btn-entry" target="_blank">
        <i class="material-icons"
            title="navigate to app and network settings panel"
          >build</i>Client Settings
      </a></li>
    </ul>

    <sky-foreach
      el="div"
      path="persist/irc/networks"
      fields="current-nick umodes"
      :depth="1">
    <template slot="item" slot-scope="net">

      <h2>{{net._id}}</h2>
      <h3 class="topics-header">Channels</h3>
      <sky-foreach
          el="ul"
          class="topics-list"
          :path="net._path+'/channels'"
          fields="latest-activity latest-mention latest-seen is-joined"
          :depth="1">
        <context-listing type="channels"
                         slot="item" slot-scope="ctx"
                         :net="net"
                         :ctx="ctx"
                         ></context-listing>
      </sky-foreach>


      <h3 class="topics-header">Queries</h3>
      <sky-foreach
          el="ul"
          class="topics-list"
          :path="net._path+'/queries'"
          fields="latest-activity latest-mention latest-seen is-joined"
          :depth="1">
        <context-listing type="queries"
                         slot="item" slot-scope="ctx"
                         :net="net"
                         :ctx="ctx"
                         ></context-listing>
      </sky-foreach>

      <ul class="topics-list">
        <context-listing type="mentions"
                         :net="net"
                         :ctx="{_id: 'mention-log'}"
                         ></context-listing>
        <context-listing type="server"
                         :net="net"
                         :ctx="{_id: 'server-log'}"
                         ></context-listing>
      </ul>
    </template>
    </sky-foreach>

  </sky-side-menu>

  <router-view v-if="ready"></router-view>
</div>

<!-- external vendor libraries -->
<script src="/~~/lib/vendor/vue.js"></script>
<script src="/~~/lib/vendor/vue-router.js"></script>

<!-- kernel library + components -->
<script src="/~~/lib/dustjs-client.umd.js"></script>
<script src="/~~/lib/vendor/hammer.js"></script>
<script src="/~~/lib/vendor/moment.js"></script>

<!-- app scripts and components -->
<script src="app.js"></script>
<script src="colorize.js"></script>

<!-- boot the app -->
<script src="/~~/lib/dustjs-client-vue.umd.js"></script>
<script>
  Vue.use(DustClientVue.AppPlugin);
  Vue.use(DustClientVue.ToolboxPlugin);
  Vue.use(DustClientVue.MixinPlugin);
  DustClientVue.bootNow();
</script>

<script defer src="/__/firebase/7.14.2/firebase-app.js"></script>
<script defer src="/__/firebase/7.14.2/firebase-auth.js"></script>
<script defer src="/__/firebase/init.js"></script>
